# Visual Studio dosyaları ve klasörleri
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Derleme çıktı klasörleri
bin/
obj/

# Log dosyaları
*.log

# Paket yöneticisi klasörleri (örnek: NuGet)
packages/

# Diğer gereksiz dosyalar
*.dll
*.pdb
*.cache
MovieApi/MovieApi/
